<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Health Data</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-item>
    <ion-label stacked>Set Height</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="height"
      placeholder="My Height today (in cm)"
    ></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label stacked>Height:</ion-label>
    <ion-input type="text" [(ngModel)]="height" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Blood Pressure:</ion-label>
    <ion-input type="text" [(ngModel)]="bloodPressure" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Weight:</ion-label>
    <ion-input type="text" [(ngModel)]="weight" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Body Temperature:</ion-label>
    <ion-input type="text" [(ngModel)]="bodyTemperature" readonly></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label stacked>Body Fat Percentage:</ion-label>
    <ion-input type="text" [(ngModel)]="bodyFat" readonly></ion-input>
  </ion-item> -->
  <!-- <ion-item>
    <ion-label stacked>Heart Rate:</ion-label>
    <ion-input type="text" [(ngModel)]="heartRate" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>High Heart Rate :</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="hightHeartRateNotificaitons"
      readonly
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Irregular Rhythm :</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="irregularRhythmNotifications"
      readonly
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Low Heart Rate :</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="lowHeartRateNotifications"
      readonly
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Steps last 24h</ion-label>
    <ion-input type="text" [(ngModel)]="stepcount" readonly></ion-input>
  </ion-item> -->

  <div class="ButtonContainer">
    <ion-button ion-button full (click)="reset()">Reset</ion-button>
  </div>
  <!-- <ion-button full (click)="saveWorkout()">Set a Workout</ion-button> -->

  <!-- <ion-list>
    <ion-card *ngFor="let workout of workouts">
      <ion-card-header>{{ workout.calories }}</ion-card-header>
      <ion-card-content>
        <p>Activity: {{ workout.activityType }}</p>
        <p>Duration: {{ workout.duration / 100 }} min</p>
        <p>Date: {{ workout.startDate | date:'short' }}</p>
        <p>Distance: {{ workout.miles }} miles</p>
      </ion-card-content>
    </ion-card>
  </ion-list> -->
</ion-content>
